html {margin:0px;
	padding:0px;
}
body {
    background-color: #BF3EFF;
    font-size: 100%;
    color: black;
}
#container{
	width:760px;
	height:auto;
	margin:auto;
	vertical-align:middle;
	background-color: red;
}

#menu{
	height:50px;
	background-color:white;
}
#menu a{
	width:84px;
	float:left;
	padding:50px 0 0 0;
	height:0px !important;
}

#menu a[data-attribute="about"]{
	background:url("../img/meniu/about.gif");
	background-position: 0 -100px;
	width:75px;
}

#menu a[data-attribute="portfolio"]{
	background:url("../img/meniu/portfolio.gif");
	background-position: 0 -100px;
	width:90px;
}

#menu a[data-attribute="services"]{
	background:url("../img/meniu/services.gif");
	background-position: 0 -100px;
}

#menu a[data-attribute="contact"]{
	background:url("../img/meniu/contact.gif");
	background-position: 0 -100px;
	width:106px;
}

#menu a:hover{
	background-position:0 0px;
}

#menu a.selected{
	background-position: 0 -100px !important;
}

#menu a.selected.hover{background-position:0 -50px !important;

}
header{
	line-height:35px;
	background-image:url("../img/banner-curs.png");
	background-size:100% 100%;
	background-repeat: no-repeat;
	height:150px;
	width:760px;
	position:relative;
}

header form{
	position:absolute;
	right:10px;
	bottom: 2px;

}
#content{
	float:left;
	width:480px;
	background-color: green;
	height:auto;
}
h1{
	color:orange;
	font-size:25;
}
#sidebar{

	height:auto;
	width:280px;
	float:left;
	background-color:yellow;
}
@media print{
	header{
		display:none;
		}
}
@media (max-width:600px){
	#sidebar {
			display:none;
			}
	body {
		background: red;
		}
}
footer{
	width:760px;
	height:66px;
	background-color:red;
	clear:both;
}
@font-face{
	font-family:diavlo;
	src:url("../fonts/Diavlo_BLACK_II_37.otf");

}
footer p{
	font-family:diavlo;
	position:absolute;
}
/*<style> goo.gl/1ubpMn
#menu{width:760px;
		height:auto;}
#header{width:760px;
		height:150px;}
#content{height:changes depending on content;
		width:480px;}
#footer{width:760px;
		height:66px;}
		</style>
		*/